use_rguix() {
    [[ -f .channels-lock.scm ]] || guix describe -f channels> .channels-lock.scm
    eval "$(guix time-machine -C ./.channels-lock.scm -- environment  "$@" --search-paths)"
}

use guix --ad-hoc git python python-pre-commit pandoc
